.tail-head{
    display: flex;
    align-items: center;
    justify-content: center;
}
.dialog-div{
    display: flex;
    justify-content: center;
}
.dialog-body{
    width: 85vh;
    padding: 10px;
}

.blogs {
    padding: 20px;
  }
  
  .blog-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
  }
  
  .blog-item {
    border: 1px solid #ccc;
    padding: 20px;
    transition: transform 0.3s ease;
  }
  
  .blog-item:hover {
    transform: scale(1.05);
  }
  
  .blog-meta {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    color: #666;
  }
  .blog-link {
    text-decoration: none; /* Remove default underline */
    color: inherit; /* Inherit color from parent */
  }
  /* Responsive styles */
  @media (max-width: 768px) {
    .blog-list {
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
  }
  